.brandimage {

}

/* footer code starts here */

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: darkslategrey !important
}

#footer {
   position:absolute;
   bottom:0;
   height:60px;
}

.btn-primary {
    background-color: rgb(66, 66, 66);
    border: 1px solid wheat;
    text-align: center;
    position: relative;
    bottom: -10px;
}

.btn-primary:hover {
    cursor: pointer;
    background-color: wheat;
}

.btn-primary:active {
    color: slategrey; 
}

/* Footer code ends here */

.wrapper{
    position: relative;
    min-height: 100vh;
    background-color: wheat;
}

.jumbotron {
    background-color: white;
    text-align: center;
}

* {
    font-family: 'Raleway';
}

.navbuttonformat {
    color: wheat !important; 
    font-size: large; 
    font-family: 'Raleway';
}

.highlighted {
    text-decoration-line: overline;
}

.navbuttonformat:hover {
    font-weight: bolder;
}

